{% extends 'base.html.twig' %}

{% block title %}Modification d'un user{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/sidebar.css') }}">
{% endblock %}

{% block body %}
{% include 'sidebar.html.twig' %}

<h2>Modification d'un user</h2>
<a href="{{url('app_users')}}"><button type="button" class="btn rounded-pill btn-success">Retour</button></a>
<div class="form-horizontal">
	{{ form_start(form) }}
		<div class=" form-group ">
			<label class="control-label col-sm-2 " for="last_name">Nom :</label>
			<div class="col-sm-10 ">
				{{form_widget(form.last_name, {'attr': {'class': 'form-control','type':'text', placeholder:'Nom'}}) }}
			</div>
		</div>
		<div class="form-group ">
			<label class="control-label col-sm-2 " for="first_name">Prénom :</label>
			<div class="col-sm-10 ">
				{{form_widget(form.first_name, {'attr': {'class': 'form-control','type':'text', placeholder:'Prénom'}}) }}
			</div>
		</div>
		<div class=" form-group ">
			<label class="control-label col-sm-2 " for="email">Email :</label>
			<div class="col-sm-10 ">
				{{form_widget(form.email, {'attr': {'class': 'form-control','type':'text', placeholder:'Email'}}) }}
			</div>
		</div>
		<div class=" form-group ">
			<label class="control-label col-sm-2 " for="email">gender :</label>
			<div class="col-sm-10 ">
				{{form_widget(form.gender, {'attr': {'class': 'form-control', placeholder:'gender'}}) }}
			</div>
		</div>
		<div class=" form-group ">
			<label class="control-label col-sm-2 " for="email">RGPD :</label>
			<div class="col-sm-10 ">
				{{form_widget(form.RGPD, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>
		<div class="form-group button">
			<div class="col-sm-offset-2 col-sm-10 ">
				<button type="submit" name="modifier" class="btn btn-primary">Modifier</button>
			</div>
		</div>
	{{ form_end(form) }}
</div>

{% endblock %}
